{% load static %}
<!doctype html>
<html>
    <head>
        <style>
        </style>
        <script src="{% static 'base/d3.min.js' %}"></script>
        <title> Animated bar chart </title>
    </head>
    <body>
        <h3>Animated bar chart</h3>
        <script>
            var w = 500,
                h = 100,
                barPadding = 2;
            var dataset = [7, 9,10,13,20, 13, 19, 21, 22,
                             15, 13, 11]
            var svg = d3.select("body")
                .append("svg")
                .attr("width", w)
                .attr("height", h);

            svg.selectAll("rect")
                .data(dataset)
                .enter()
                .append("rect")
                .attr("x", function(d, i){
                    //top left corner coordinate x-axis
                    return i * (w/ dataset.length);
                })
                .attr("y", function(d){
                    //top left coordinate y-axis
                    // h-d to make it start from the bottom
                    //*3 to match the bar length scaling
                    return h-(d*3);
                })
                .attr("fill", function(d){
                    return "rgb(0,0, " + (d*10)+")";})
                .attr("width", function(d, i){
                    //width of rectangle
                    return (w/ dataset.length - barPadding);
                })
                .attr("height", function(d){
                    //height of rectangle
                    return d*3;
                });
svg.selectAll("text")
    .data(dataset)
    .enter()
    .append("text")
    .text(function(d){ return d;})
    .attr("x", function(d, i){
        //x position of text in the middle
        return i * (w/dataset.length) + (w/dataset.length -barPadding)/2;
    })
    .attr("y", function(d){
        //y position of the text 
        return h - (d * 3) + 15;
    })
    .attr("fill", "white")
    .attr("font-size", "11px")
    .attr("font-family", "sans-serif")
    .attr("text-anchor", "middle");
    //^ text formatting
        </script>
    </body>
</html>